version: "3.8"

services:
  redis:
    image: redis:7-alpine
  arbiter:
    build: ./service
    ports:
      - "4000:4000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis